.Cart {}

.icon-xxl {
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}